.mapbox-marker {
  --at-apply: w-2.5 h-2.5 rounded-full border border-white cursor-pointer
    shadow-md;
}

.mapbox-marker--travel {
  background: #f97316;
  box-shadow:
    0 0 0 4px #f973162e,
    0 1px 3px #00000040;
}

.mapbox-marker--travel:hover {
  box-shadow:
    0 0 0 5px #f973163d,
    0 2px 6px #00000047;
}

.mapbox-marker--residence {
  background: #2563eb;
  box-shadow:
    0 0 0 4px #2563eb2e,
    0 1px 3px #00000040;
}

.mapbox-marker--residence:hover {
  box-shadow:
    0 0 0 5px #2563eb3d,
    0 2px 6px #00000047;
}

.mapboxgl-popup-tip {
  --at-apply: hidden;
}

.mapboxgl-popup-content {
  --at-apply: px-1.5 py-1 shadow-lg dark-bg-#1f2937 dark-text-#f9fafb;
}

.mapboxgl-ctrl-logo {
  --at-apply: 'hidden!';
}
